extends partials/templates/_template.pug

block content
  +b.SECTION.page
    .container
      +e.inner.row

        .col-xs-12.col-xl-7.push-xl-2
          // Breadcrumbs
          +b.breadcrumbs
            +e.inner
              a(href="index.html") Сертификация
              ='>'
              span Типовая страница
          // Content
          +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
            +e.H1.title(itemprop="headline") Типовая страница (h1)
            +e.text(itemprop="articleBody")
              p Всероссийский Центр Сертификации «МЕЖРЕГИОНТЕСТ» - ведущий многопрофильный общероссийский центр сертификации, основанный в России в 1992 году. Практикуя деятельность более 24 лет в области сертификации и декларирования продукции и услуг, наш центр зарекомендовал себя как лидирующий орган по сертификации, обладающий также представительствами в российских регионах и за рубежом и имеющий полную государственную аккредитацию на весь перечень продукции согласно общероссийскому классификатору, а также внесен в список комиссии Таможенного Союза и опубликован на официальном сайте РОСАККРЕДИТАЦИИ РФ.
              p Всероссийский Центр Сертификации «МЕЖРЕГИОНТЕСТ» - ведущий многопрофильный общероссийский центр сертификации, основанный в России в 1992 году. Практикуя деятельность более 24 лет в области сертификации и декларирования продукции и услуг, наш центр зарекомендовал себя как лидирующий орган по сертификации, обладающий также представительствами в российских регионах и за рубежом и имеющий полную государственную аккредитацию на весь перечень продукции согласно общероссийскому классификатору, а также внесен в список комиссии Таможенного Союза и опубликован на официальном сайте РОСАККРЕДИТАЦИИ РФ.
          // Recommendations
          include partials/components/_recommendations.pug 
          // Bottom links
          include partials/components/_bottom-links.pug
          // Cities
          include partials/components/_cities.pug

        .col-xs-12.col-xl-2.pull-xl-7   
          // Left sidebar
          include partials/components/_left-sidebar.pug 

        .col-xs-12.col-xl-3
          // Right sidebar
          include partials/components/_right-sidebar.pug 