extends partials/templates/_template.pug

block content
  +b.SECTION.page--single-question
    .container
      +e.inner.row

        .col-xs-12.col-xl-7.push-xl-2
          // Breadcrumbs
          +b.breadcrumbs
            +e.inner
              a(href="index.html") Сертификационный центр Гортест
              ='>'
              a(href="page-questions.html") Вопросы и ответы
              ='>'
              span Сертификация картонных конструкций
          // Content
          +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
            +b.ARTICLE.question
              +e.H1.title(itemprop="headline") Сертификация картонных конструкций (h1)
              +e.ask(itemprop="articleSection", itemscope, itemtype="http://schema.org/Question")
                +e.text(itemprop="citation")
                  p Добрый день!
                  p Интересует следующий вопрос. Хотим с мужем открыть свой бизнес по изготовлению и продаже картонных конструкций для животных в связи с этим интересуюсь:
                  ol
                    li Какие требования предъявляются к изготовлению данного объекта?
                    li Нужно ли согласовывать деятельность с Роспотребнадзором?
                    li Какие сопроводительные документы необходимы для продажи объекта?
                    li Стоимость Ваших услуг за организацию данных формальностей?
                +e.person
                  +e.name(itemprop="author") Дарья  
                  | (Санкт-Петербург и Ленинградская область, 1 ноября 2016) 
              +e.answer(itemprop="articleSection", itemscope, itemtype="http://schema.org/Answer")
                +e.text(itemprop="citation")
                  p Дарья, данная продукция не подлежит сертификации. Могу предложить оформить отказное письмо и/или добровольный сертификат.
                  p Деятельность с Роспотребнадзором согласовывать не нужно.
                +e.specialist(itemprop="author") Анна, +7 (812) 633-05-16, otdel@rostest.net
              +e.A.link-back(href="page-questions.html") Назад

          // Bottom links
          include partials/components/_bottom-links.pug
          // Cities
          include partials/components/_cities.pug

        .col-xs-12.col-xl-2.pull-xl-7     
          // Left sidebar
          include partials/components/_left-sidebar.pug 

        .col-xs-12.col-xl-3
          // Right sidebar
          include partials/components/_right-sidebar.pug 

