.btn{
  display: inline-block;
  border: none;
  outline: none;
  // border-radius: 3px; 
  color: $text-color-white;
  font-size: $font-size-btn; 
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 0;
  text-decoration: none;

  &--application{
    padding: 15px 15px;
    font-weight: bold;
    text-align: right;
    transition: none;
    @include sprite($s-btn-cert);
    &:hover, &:focus {
      @include sprite($s-btn-cert-hover);
    }
  }
  &--question{
    padding: 15px 15px;
    font-weight: bold;
    text-align: left;
    transition: none;
    @include sprite($s-btn-ask);
    &:hover, &:focus {
      @include sprite($s-btn-ask-hover);
    }
  }

  &--form{
    background-color: $title-blue;
    margin-left: 200px;
    @include mq($from:xs, $until:md){
      margin-left: 0;
    }
  }
}

