.cities{
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    flex: 0 0 20%;
    background-color: $city-grey;    
    border-right: 1px solid $city-border-grey;
    padding: 5px;
    &:nth-of-type(5n+1){
      border-left: 1px solid $city-border-grey;
    }
    @include mq($from:xs, $until:md){
      flex: 0 0 50%;
      &:nth-of-type(5n+1){
        border-left: none;
      }
      &:nth-of-type(2n+1){
        border-left: 1px solid $city-border-grey;
      }
    }
    &:hover{
      background-color: $white;
    }
  }
  &__link{
    font-size: $font-size-small;
    color: $text-color;
  }
}

