.content{
  &:after{
    content: '';
    display: table;
    clear: both; 
  }
  &__title{
    font-weight: normal;
    color: $title-blue;
    border-bottom: 1px dotted $title-blue;
  }
  &__img{
    float: right;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  &__link-back{
    display: inline-block;
    margin: 10px 0 40px;
  }
  &__text{
    @include mq($from:xs, $until:md){
      font-size: $font-size-small;
    }
    // h1{
    //   font-size: $font-size-biggest;
    // }
    // h2{
    //   font-size: $font-size-biggest;
    // }
    // h3{
    //   font-size: $font-size-bigger; 
    // }
    // h4{
    //   font-size: $font-size-big; 
    // }
    // h5, h6{
    //   font-size: $font-size-regular; 
    // }
  //   ul, ol{
  //     border-radius: 5px;
  //     padding-top: 0.8em;
  //     padding-bottom: 0.8em;
  //     background-color: $light-grey;
  //   }
  //   blockquote{
  //     margin-left: 20px;
  //     padding-left: 20px;
  //     border-left: 5px solid $green;
  //   }
  //   a{
  //     &:hover, &:focus {
  //       text-decoration: underline;
  //     }
  //   }
  }
}
