.contacts{
  padding-bottom: 40px;
}

.office{
  margin-bottom: 30px;
  &__title{
    font-size: $font-size-biggest;
    font-weight: bold;
    color: $title-blue;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  &__map{
    height: 400px;
    @include mq($from:xs, $until:md){
      height: 300px;
    }
  }
}
