.header{
  &__nav-wrapper{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__logo-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid $cyan;
    background-image: linear-gradient(to top, #006898, #00426b);
    padding: 15px 20px 25px;
  }
  &__logo{
    flex: 0 0 50%;
    max-width: 50%;
    @include mq($from:xs, $until:md){
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__city{
    flex: 0 0 50%;
    max-width: 50%;
    @include mq($from:xs, $until:md){
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &__search{
    @include mq($from:xs, $until:lg){
      order: -1;
      margin-bottom: 10px;
      margin-left: auto;
    }
  }
  &__nav{
    @include mq($from:xs, $until:md){
      flex: 0 0 100%;
    }    
  }
}

.logo{
  display: inline-block;
  &--header{
    width: 250px;
    height: auto;
  }
  &--footer{
    width: 180px;
    height: auto;    
  }
}


.city{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: $font-size-16;
  // @include mq($from:sm, $until:lg){    
  //   text-align: center;
  // }
  // @include mq($from:xs, $until:sm){
  //   flex: 0 0 100%;
  //   margin-top: 25px;
  // }
  &__name-wrapper{
    position: relative;
    margin-bottom: 5px;
  }
  &__name{  
    color: $text-color-white;
    text-decoration: none;
    &:after{
      content: '▼';
      font-size: 0.6em;
      margin-left: 5px;      
    }
    &:hover, &:focus{
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__dropdown{
    display: none;
    text-align: left;
    position: absolute;
    z-index: 3;
    bottom: -10px;
    right: 0;
    padding-left: 0;
    margin: 0;
    transform: translateY(100%);    
    list-style-type: none;
    border: 1px solid $title-blue;
    background-color: $body-bg;
  }
  &__item{
    cursor: pointer;
    padding: 5px 15px;
    @include transition();
    &:hover, &:focus{
      background-color: $title-blue;
      color: $text-color-white;
    }
  }
  &__tel{
    display: block;
    color: $text-color-white;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;   
  }
  &__email{
    display: block;
    color: $text-color-white;
    margin-bottom: 5px;
    text-decoration: none;
  }
}
