.nav{
  &__wrapper{
    @include mq($from:xs, $until:md){
      display: none;
      text-align: center;
    }    
  }
  &__list{    
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    @include mq($from:xs, $until:md){
      flex-wrap: wrap;
    }
  }
  &__item{
    text-align: center; 
    @include mq($from:xs, $until:md){
      flex: 0 0 100%;
    }
  }

  &__link{
    border-radius: 5px 5px 0 0;
    border: 1px solid $cyan;
    background-image: linear-gradient(to top, #004974, #006897);
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
    color: $text-color-white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-smaller;
    @include mq($from:xs, $until:md){
      width: 100%;
    }

    &:hover, &:focus {
      background-image: linear-gradient(to top, #1178a5, #6bc8e7);
    }  
  }
  &__hamburger{
    display: none;
    text-align: center;
    @include mq($from:xs, $until:md){
      display: block;
      width: 100%;
    }    
  } 
}

.hamburger{
  display: block;
  padding: 20px 6px;
  border-radius: 3px;
  span{
    display: block;
    width: 30px;
    margin: 0 auto;
    height: 4px;
    background-color: red;

    &:after, &:before{
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background-color: red;
    }
    &:before{
      transform: translateY(-10px);
    }    
    &:after{
      transform: translateY(6px);
    }    
  }
}