.questions{
  margin-top: 35px;
}

.question{  
  margin-top: 10px;
  margin-bottom: 50px;

  &__title{
    margin: 15px 0 20px;
    font-weight: normal;
    font-size: $font-size-biggest;
    text-align: center;
  }
  &__subtitle{
    font-weight: normal;
    font-size: $font-size-bigger;
  }
  &__link-wrapper{
    margin-top: 10px;
    // text-align: right;
  }
  &__link{
    display: inline-block; 
  } 
  &__person{
    text-align: right;
    font-weight: bold;
  }
  &__ask{
    background-color: $light-grey;
    padding: 10px 20px;    
  }
  &__answer{
    margin-top: 20px;
  } 
  &__specialist{
    margin: 0 20px;
    text-align: right;
  }
  &__link-back{
    display: inline-block;
    margin-top: 20px;
  }
}