.sidebar{
  @include mq($from:xs, $until:xl){
    padding-top: 20px;
  }

  &__call-link{
    color: $orange;
    font-size: $font-size-smaller;
    position: relative;
    display: inline-block;
    margin: 0 0 20px;
    &:before{
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: .5em;
      @include sprite($s-telephone);
    }
    @include mq($from:xs, $until:xl){
      text-align: center;
    }
  }
  &__btn{
    text-align: center;
  }
}
.menu{
  margin-top: 30px;
  &__title{
    margin: 0;
    font-weight: normal;
    font-size: $font-size;
    color: $title-blue;
    border-bottom: 1px dotted $title-blue;
    &--execution{
      color: $text-color-white;
      padding: 18px 60px;
      background-repeat: no-repeat;
      background-image: url(../img/oformlyaem.png);
      border-bottom: none;
      @include mq($from:xs, $until:xl){
        margin-bottom: 20px;
        background-position: 50% 50%;
        padding-left: 100px;
      }
    }

    @include mq($from:xs, $until:xl){
      text-align: center;
      font-size: 1.2em;
    }
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    font-size: $font-size-smaller;
  }
  &__link{
    display: block;
    padding: 10px;
    border-bottom: 1px solid $menu-border-grey;    
    color: $text-color;
    &:hover, &:focus {
      background-color: $menu-bg-grey;
      border-bottom: 1px solid $menu-border-blue; 
    }
    @include mq($from:xs, $until:xl){
      text-align: center;
    }
  }
}
.certification-menu{
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    font-size: $font-size-small;
  }
  &__item{
    position: relative;
    &:hover, &:focus {
      .certification-submenu{
        display: block;
      }
    }
    @include mq($from:xs, $until:xl){
      margin-bottom: 10px;
    }
  }
  &__link{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 20px;
    max-width: 255px;
    height: 62px;
    color: $text-color-white;
    background-repeat: no-repeat;
    background-position: center left;
    @include mq($from:xs, $until:xl){
      margin: 0 auto;
    }

    &--about{
      background-image: url(../img/menu-about.png);
    }
    &--services{
      background-image: url(../img/menu-services.png);
    }
    &--production{
      background-image: url(../img/menu-production.png);
    }
    &--declaration{
      background-image: url(../img/menu-declaration.png);
    }
    &--tu{
      background-image: url(../img/menu-tu.png);
    }
    &--fire{
      background-image: url(../img/menu-fire.png);
    }
  }
}
.certification-submenu{
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  font-size: $font-size-smaller;
  background-color: $menu-bg-grey;
  border: 1px solid $menu-border-blue;
  @include mq($from:xs, $until:xl){
    position: static;
    transform: none;
    text-align: center;
  }

  &__item{
    &:last-of-type{
      .certification-submenu__link{
        border-bottom: none;
      }      
    }
  }
  &__link{
    display: block;
    padding: 10px;
    border-bottom: 1px solid $menu-border-grey;    
    color: $text-color;
    &:hover, &:focus {
      background-color: $white;
      border-bottom: 1px solid $menu-border-blue; 
    }
  }
}