mixin questionsItem(title, askPerson, askAddress, askText)
  +b.ARTICLE.question(itemscope, itemtype="http://schema.org/Question")
    +e.H2.subtitle
      a(href="single-question.html", itemprop="headline") #{title}   
    +e.ask    
      +e.text(itemprop="text") !{askText}
      +e.person
        +e.SPAN.name(itemprop="author") #{askPerson}
        | #{askAddress} 
    +e.link-wrapper
      +e.A.link(href="single-question.html") Читать ответ

