/*
  Project variables
  =================
*/


/*
  Flex Sass grid generator variables
  ==================================

  [flex-sass-grid-generator](https://github.com/Enkil/flex-sass-grid-generator)

*/

$base-font-size:              16px;
$grid-columns:                12 !default;
$grid-gutter-width:           20px !default;

$screen-xs:                   0; // Extra small screen / phone
$screen-sm:                   480px; // Small screen / phone
$screen-md:                   700px; // Medium screen / tablet
$screen-lg:                   950px; // Large screen / desktop
$screen-xl:                   1170px; // Extra large screen / wide desktop
//$screen-xxl:                  1890px; // Super large screen / extra wide desktop

$container-max-widths: (
        sm:                   480px,
        md:                   700px,
        lg:                   950px,
        xl:                   1170px
) !default;


$grid-breakpoints: (
        xs:                   0,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1200px
) !default;

/*
  Sass MQ variables
  =================

  [sass-mq](https://github.com/sass-mq/sass-mq)
*/

$mq-breakpoints: (
        xs:                   0px,
        sm:                   540px,
        md:                   768px,
        lg:                   1024px,
        xl:                   1200px
) !default;



//------------------------------------------------------------------------------
//  Colors
//------------------------------------------------------------------------------


// Color table 

$white:                       #ffffff;
$black:                       #000000;


$bg-light-blue:               #e8fafb;
$link-blue:                   #005890;
$title-blue:                  #1473b0;

$cyan:                        #a6e7fd;

$block-bg-green:              #E6FCCB;
$block-border-green:          #9ECB64;
$block-text-green:            #2F6900;

$block-bg-blue:               #E3F4FF;
$block-border-blue:           #7EC6F6;
$block-text-blue:             #005083;


$menu-border-blue:            #00a7ed;
$menu-border-grey:            #cecece;
$menu-bg-grey:                #efefef;

$city-grey:                   #E9E9E9;
$city-border-grey:            #999999;
$orange:                      #CE3716;
$light-grey:                  #f5f5f5;

$border-grey:                 $city-grey;

$success:                     #00ff00;
$error:                       #ff0000;


// Colors in use

$body-bg:                     $white;
$text-color:                  $black;

$link-color:                  $link-blue;

$text-color-white:            $white;
// $link-color-white:            $text-color-white;




//------------------------------------------------------------------------------
//  Typography
//------------------------------------------------------------------------------


$font-family:                   Verdana, Arial, sans-serif;
// $font-family--semibold:         'Open Sans Semibold', Helvetica, Arial, sans-serif;
// $font-family--bold:             'Open Sans Bold', Helvetica, Arial, sans-serif;
// $font-family--extrabold:        'Open Sans Extrabold', Helvetica, Arial, sans-serif;

// $font-family--italic:           'Open Sans Italic', Helvetica, Arial, sans-serif;
// $font-family--semibold-talic:   'Open Sans Semibold Italic', Helvetica, Arial, sans-serif;


$font-size:                   14px;

// $font-size-title:             18px;
// $font-size-menu:              14px;
$font-size-btn:               12px;

$font-size-small:             12px;
$font-size-smaller:           14px;
$font-size-16:                16px;
$font-size-bigger:            18px;
$font-size-biggest:           20px;



// $line-height:                 1.43;
$line-height:                 1.7;


