include ../abstracts/bemto/bemto.pug


+b.SECTION.banner
  +e.gallery
    +e.slide
      img(src="img/promo/slide1.jpg", alt="slide1", title="slide1")
    +e.slide
      img(src="img/promo/slide2.jpg", alt="slide2", title="slide2")
    +e.slide
      img(src="img/promo/slide3.jpg", alt="slide3", title="slide3")

