include ../abstracts/bemto/bemto.pug


+b.SECTION.navigation
  +e.A.link--prev(href="page-question.html") Консультация специалиста
  +e.A.link--next(href="page-application.html") Заказать сертификат
  

