include ../abstracts/bemto/bemto.pug


+b.SECTION.cities
  +e.UL.list
    +e.item
      +e.A.link(href="page-contacts.html") Москва
    +e.item
      +e.A.link(href="page-contacts.html") Санкт-Петербург
    +e.item
      +e.A.link(href="page-contacts.html") Екатеринбург
    +e.item
      +e.A.link(href="page-contacts.html") Новосибирск
    +e.item
      +e.A.link(href="page-contacts.html") Москва
    +e.item
      +e.A.link(href="page-contacts.html") Санкт-Петербург
    +e.item
      +e.A.link(href="page-contacts.html") Екатеринбург
    +e.item
      +e.A.link(href="page-contacts.html") Новосибирск
    +e.item
      +e.A.link(href="page-contacts.html") Москва
    +e.item
      +e.A.link(href="page-contacts.html") Санкт-Петербург
    +e.item
      +e.A.link(href="page-contacts.html") Екатеринбург
    +e.item
      +e.A.link(href="page-contacts.html") Новосибирск
    +e.item
      +e.A.link(href="page-contacts.html") Москва
    +e.item
      +e.A.link(href="page-contacts.html") Санкт-Петербург
    +e.item
      +e.A.link(href="page-contacts.html") Екатеринбург

      
