include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .container
    +e.inner
      +e.logo
        // Logo
        +b.A.logo--footer(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
          img(src="img/logo.png", alt="logo", title="logo", itemprop="logo") 
      +e.nav
        // Nav
        +b.NAV.nav-footer
          +e.UL.list
            +e.item 
              +e.A.link(href="page.html") О компании
            +e.item 
              +e.A.link(href="page.html") Наши услуги
            +e.item
              +e.A.link(href="page-contacts.html") Контакты
            +e.item
              +e.A.link(href="page-reviews.html") Отзывы
            +e.item 
              +e.A.link(href="page-news.html") Новости

      +e.info
        // Social
        +b.social
          +e.A.link--rss(href="#")
          +e.A.link--vk(href="#")
          +e.A.link--tw(href="#")
        // Counters
        +b.counters
          +e.A.link(href="#") счетчик
+b.A.up(href="#") Наверх



//- +b.modal
//-   +e.overlay
//-   +e.form
//-     +e.A.close(href="#")
//-     - var modal = true
//-     // Form application    
//-     include _form--application.pug

