include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  .container
    +e.nav-wrapper
      +e.nav
        // Nav
        +b.NAV.nav
          +e.hamburger
            +b.A.hamburger(href="#")
              span
          +e.wrapper
            +e.UL.list
              +e.item 
                +e.A.link(href="page.html") О компании
              +e.item 
                +e.A.link(href="page.html") Наши услуги
              +e.item
                +e.A.link(href="page-contacts.html") Контакты
              +e.item
                +e.A.link(href="page-reviews.html") Отзывы
              +e.item 
                +e.A.link(href="page-news.html") Новости
      +e.search
        // Form search
        +b.SECTION.form--search
          form(action='', method='')
            .form-group.field-search.required
              +e.INPUT.input(type='text', name='Поиск', placeholder="Поиск...")

    +e.logo-wrapper
      +e.logo
        // Logo
        +b.A.logo--header(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
          img(src="img/logo.png", alt="logo", title="logo", itemprop="logo")
      // Cities
      +e.city
        +b.city(itemscope, itemtype="http://schema.org/ContactPoint")
          +e.name-wrapper
            +e.A.name(href="#", itemprop="areaServed") Москва
            +e.UL.dropdown
              +e.item(data-email0= "spb@mostest.ru", data-email1= "spbspbspb@mostest.ru", data-tel0= "+7 (812) 923-20-03", data-tel1= "+7 (812) 332-93-48") Санкт-Петербург
              +e.item(data-email0= "16@mostest.ru", data-tel0= "+7 (843) 258-55-24", data-tel1= "+7 (843) 258-55-24") Казань
              +e.item(data-email0= "31@mostest.ru", data-tel0= "+7 (919) 285-48-38") Белгород 
          +e.tel-wrapper
            +e.A.tel(href="tel:+74956632218", target="_blank", itemprop="telephone") +7 (495) 663-22-18
            +e.A.tel(href="tel:+74956491354", target="_blank", itemprop="telephone") +7 (495) 649-13-54
          +e.email-wrapper
            +e.A.email(href="mailto:otdel@rostest.net", target="_blank", itemprop="email") msk@rosstandart.su




