include ../abstracts/bemto/bemto.pug


+b.ASIDE.sidebar--left

  +e.btn
    +b.A.btn--application(href="page-application.html") Заказать сертификат
    +b.A.btn--question(href="page-questions.html") Отвечает специалист

  // Menu execution
  +b.SECTION.menu--execution(itemscope, itemtype="http://schema.org/Service")
    +e.H3.title--execution Оформляем
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html") Сертификат соответствия
      +e.item 
        +e.A.link(href="page.html") Сертификат происхождения
      +e.item 
        +e.A.link(href="page.html") Гигиенический сертификат
      +e.item 
        +e.A.link(href="page.html") Пожарный сертификат
      +e.item 
        +e.A.link(href="page.html") Декларация соответствия
      +e.item 
        +e.A.link(href="page.html") Разрешение на применение
      +e.item 
        +e.A.link(href="page.html") Экспертиза промышленной безопасности
      +e.item 
        +e.A.link(href="page.html") Разрешение на ввоз озоноразрушающих веществ
      +e.item 
        +e.A.link(href="page.html") Евро 5 и СБКТС
      +e.item 
        +e.A.link(href="page.html") Сертификат Госстроя
      +e.item 
        +e.A.link(href="page.html") Письмо ВНИИС
      +e.item 
        +e.A.link(href="page.html") Одобрение типа транспортного средства
      +e.item 
        +e.A.link(href="page.html") Сертификат ISO 9001
      +e.item 
        +e.A.link(href="page.html") Сертификат ISO 14001
      +e.item 
        +e.A.link(href="page.html") Сертификат OHSAS 18001
      +e.item 
        +e.A.link(href="page.html") Сертификация HACCP
      +e.item 
        +e.A.link(href="page.html") Действующие технические регламенты
      +e.item 
        +e.A.link(href="page.html") Сертификация в рамках Технических регламентов Таможенного союза





