include ../abstracts/mixins/_news-item.pug
include ../abstracts/bemto/bemto.pug

// News
+b.news
  +newsItem("Росстандарт объявил о проведении общественных обсуждений нескольких проектов основополагающих российских стандартов", "16.12.2016", "<p>Росстандарт (Федеральное агентство по техрегулированию и метрологии) объявил о проведении общественных обсуждений нескольких проектов основополагающих российских стандартов. В первую очередь, речь идет о:</p><ul><li>ГОСТ Р ОСН 1.2. – 2016 «Стандартизация в Российской Федерации. Стандарты национальные Российской Федерации. Правила разработки, утверждения, обновления, внесения поправок, приостановки действия и отмены».</li><li>ГОСТ Р ОСН 1.5 – 2016 «Стандартизация в Российской Федерации. Стандарты национальные Российской Федерации. Правила построения, изложения, оформления и обозначения».</li><li>ГОСТ Р ОСН 1.6 – 2016 «Стандартизация в Российской Федерации. Проекты стандартов. Правила организации и проведения экспертизы».</li><li>ГОСТ Р ОСН 1.8 – 2016 «Стандартизация в Российской Федерации. Стандарты межгосударственные. Правила проведения в Российской Федерации работ по разработке, применению, обновлению и прекращению применения».</li><li>ГОСТ Р ОСН 1.16 – 2016 «Стандартизация в Российской Федерации. Стандарты национальные предварительные. Правила разработки, утверждения, применения и отмены».</li></ul><p>Все указанные национальные стандарты разработаны в связи с началом действия Федерального закона 162-ФЗ «О стандартизации в Российской Федерации». Общественное обсуждение проектов продлится до 8 октября текущего года.</p>")
  +newsItem("16 августа на сайте ЕЭК было опубликовано решение, изменяющее некоторые требования ТР ТС на автомобильный транспорт", "15.12.2016", "<p>16 августа текущего года на сайте Евразийской экономической комиссии было опубликовано решение Совета Евразийской экономической комиссии № 56 «О внесении изменений в технический регламент Таможенного союза «О безопасности колесных транспортных средств» (ТР ТС 018/2011)». Согласно этому документ будет изменен подпункт 15.1 пункта 15 приложения № 3 «Технические требования в отношении отдельных элементов и свойств объектов технического регулирования для оценки соответствия типов транспортных средств (шасси)» и подпункт 10.1 пункта 10 приложения № 9 «Требования в отношении отдельных изменений, внесенных в конструкцию транспортного средства» указанного ТР ТС.</p><p>Решение Совета ЕЭК № 56 вступает в силу 26 августа 2016 года – через 10 календарных дней с момента своего официального опубликования.</p>")
  +newsItem("С января 2018 года в силу вступает технический регламент, который будет действовать в отношении сжиженных углеводородных газов", "14.12.2016", "<p>С января 2018 года на территории всех стан ЕАЭС в силу вступает технический регламент, который будет действовать в отношении сжиженных углеводородных газов (ТР ЕАЭС «Требования к сжиженным углеводородным газам для использования их в качестве топлива»). Этот межгосударственный нормативно-технический документ принят 9 августа текущего года на заседании Совета Евразийской экономической комиссии.</p><p>На основании этого документа в будущем производителям и поставщикам сжиженных углеводородных газов потребуется оставлять и регистрировать официальные декларации о соответствии. Такие декларации будут подтверждать соответствие Вашей продукции действующим в Союзе обязательным требованиям.</p><p>Кроме того, техрегламент предполагает использование единого содержания паспорта качества сжиженных углеводородных газов.</p>")
  +b.pagination
    +e.SPAN.text Страницы:
    +e.UL.list
      +e.number--current
        +e.link(href="page-news.html") 1
      +e.number
        +e.link(href="page-news.html") 2
      +e.number
        +e.link(href="page-news.html") 3
      +e.number
        +e.link(href="page-news.html") 4
      +e.number
        +e.link(href="page-news.html") 5





