include ../abstracts/mixins/_questions-item.pug
include ../abstracts/bemto/bemto.pug

+b.SECTION.questions
  +questionsItem("Сертификация игрушек авторской работы","Оксана", "(Москва и Московская область, 13 июля 2016)", "<p>Я изготавливаю авторские игрушки из полимерной глины, меха, проволоки, паралона и разукрашиваю акриловыми красками. Необходимы ли мне какие нибудь сертификаты на продажу данных изделий?</p>", "Анастасия, +7 (495) 783-29-26, otdel@promotest.info")
  +questionsItem("Сертификация жидкости для электронного испарителя", "Карен", "(Москва и Московская область, 13 июля 2016)", "<p>доброго. Инетерсуют сроки и стоимость добровольной сертификации жидкости для электронных сигарет. Продукт есть, помещение и юр лицо (ИП) тоже есть. Спасибо</p>", "Наталья, +7 (495) 783-29-26, otdel@promotest.info")
  +questionsItem("Сертификация игрушек авторской работы","Оксана", "(Москва и Московская область, 13 июля 2016)", "<p>Я изготавливаю авторские игрушки из полимерной глины, меха, проволоки, паралона и разукрашиваю акриловыми красками. Необходимы ли мне какие нибудь сертификаты на продажу данных изделий?</p>", "Анастасия, +7 (495) 783-29-26, otdel@promotest.info")
  +b.pagination
    +e.SPAN.text Страницы:
    +e.UL.list
      +e.number--current
        +e.link(href="page-questions.html") 1
      +e.number
        +e.link(href="page-questions.html") 2
      +e.number
        +e.link(href="page-questions.html") 3
      +e.number
        +e.link(href="page-questions.html") 4
      +e.number
        +e.link(href="page-questions.html") 5





