include ../abstracts/bemto/bemto.pug


+b.SECTION.recommendations
  +e.H3.title Рекоммендуем прочесть:
  +e.OL.list
    +e.item
      +e.link(href="page.html") О сертификации
      +e.text Сертификация — процедура подтверждения соответствия качества и безопасности продукции (услуг, бизнес-процессов)...
    +e.item
      +e.link(href="page.html") Добровольная сертификация
      +e.text Добровольная сертификация, в отличие от обязательной, проводится по инициативе самих...
    +e.item
      +e.link(href="page.html") Сертификаты
      +e.text Четкого и однозначного определения понятия сертификат не существует. В области...
    +e.item
      +e.link(href="page.html") Сертификация. Что это такое?
      +e.text Сертификация представляет собой процедуру подтверждения соответствия качества и безопасности продукции (услуг)...
    +e.item
      +e.link(href="page.html") Обязательная сертификация
      +e.text Обязательная сертификация — подтверждение соответствия продукции или услуг обязательным требованиям...




