include ../abstracts/mixins/_reviews-item.pug
include ../abstracts/bemto/bemto.pug

+b.SECTION.reviews
  +reviewsItem("Оформление СГР","ООО Фолиант (экспорт/импорт пищевых добавок)", "Периодически, расширяя ассортимент, сталкиваемся с необходимостью оформления СГР на импортные пищевые добавки. В 'Росстандарте' нас неизменно предварительно подробно консультируют при каждом обращении; сроки исполнения зачастую опережают ожидания. В интервалах между нашими заказами - постоянная информационная поддержка по возникающим техническим вопросам. СПАСИБО!")
  +reviewsItem("Спасибо", "Механика СПб", "Работали с 'Росстандартом' несколько раз: по разработке ТУ на производство продукции и 2 раза по сертификации продукции на соответствие Техническому регламенту о безопасности колесных транспортных средств. Каждый раз работы выполнялись точно и в срок. Приятно, что в 'Росстандарте' существует индивидуальный подход к заказчику, мы всегда получали необходимые консультации и разъяснения по всем возникшим вопросам. Отдельно хочется отметить работу специалиста по сертификации Бочаровой Анны - исключительно грамотного профессионала и приятного в общении человека. Благодарим Вас за работу и надеемся на дальнейшее сотрудничество! С уважением, Евгений, Санкт-Петербург.")
  +reviewsItem("Благодарственное письмо","Марка Одежды", "Выражаю благодарность за отличную работу менеджеру центра по сертификации «Рост-Тест» Черемискиной Ирине. Очень грамотный специалист, который работает в сфере сертификации много лет, знает тонкости и нюансы. Все необходимые документы были оформлены раньше обозначенного срока, что не могло не порадовать. К оформленным документам не возникает никаких вопросов в процессе работы. При необходимости обращусь только к Ирине.")
  +b.pagination
    +e.SPAN.text Страницы:
    +e.UL.list
      +e.number--current
        +e.link(href="page-questions.html") 1
      +e.number
        +e.link(href="page-questions.html") 2
      +e.number
        +e.link(href="page-questions.html") 3
      +e.number
        +e.link(href="page-questions.html") 4
      +e.number
        +e.link(href="page-questions.html") 5




