include ../abstracts/bemto/bemto.pug

+b.ASIDE.sidebar--right
  +e.btn
    +e.A.call-link(href="page-call.html") Бесплатный звонок с сайта

  // Certification menu
  +b.SECTION.certification-menu
    +e.UL.list
      +e.item 
        +e.A.link--about(href="javascript:void(0);") О сертификации
        +b.UL.certification-submenu
          +e.item 
            +e.A.link(href="page.html") Сертификат на алюминий
          +e.item 
            +e.A.link(href="page.html") Сертификат на бетон
          +e.item 
            +e.A.link(href="page.html") Сертификат на битум
          +e.item 
            +e.A.link(href="page.html") Сертификат на брус
          +e.item 
            +e.A.link(href="page.html") Сертификат на гвозди
          +e.item 
            +e.A.link(href="page.html") Сертификат на двери
          +e.item 
            +e.A.link(href="page.html") Сертификат на игрушки
          +e.item 
            +e.A.link(href="page.html") Сертификат на кирпич
          +e.item 
            +e.A.link(href="page.html") Сертификат на клей
          +e.item 
            +e.A.link(href="page.html") Сертификат на ковролин 
          +e.item 
            +e.A.link(href="page.html") Сертификат на косметику
          +e.item 
            +e.A.link(href="page.html") Сертификат на линолеум
          +e.item 
            +e.A.link(href="page.html") Сертификат на моющие средства
          +e.item 
            +e.A.link(href="page.html") Сертификат на ножи
          +e.item 
            +e.A.link(href="page.html") Сертификат на обувь
      +e.item 
        +e.A.link--services(href="javascript:void(0);") Сертификация услуг
        +b.UL.certification-submenu
          +e.item 
            +e.A.link(href="page.html") Сертификат на алюминий
          +e.item 
            +e.A.link(href="page.html") Сертификат на бетон
          +e.item 
            +e.A.link(href="page.html") Сертификат на битум
          +e.item 
            +e.A.link(href="page.html") Сертификат на брус
          +e.item 
            +e.A.link(href="page.html") Сертификат на гвозди
          +e.item 
            +e.A.link(href="page.html") Сертификат на двери
          +e.item 
            +e.A.link(href="page.html") Сертификат на игрушки
      +e.item 
        +e.A.link--production(href="javascript:void(0);") Сертификация продукции
        +b.UL.certification-submenu
          +e.item 
            +e.A.link(href="page.html") Сертификат на алюминий
          +e.item 
            +e.A.link(href="page.html") Сертификат на бетон
          +e.item 
            +e.A.link(href="page.html") Сертификат на битум
          +e.item 
            +e.A.link(href="page.html") Сертификат на брус
          +e.item 
            +e.A.link(href="page.html") Сертификат на гвозди
          +e.item 
            +e.A.link(href="page.html") Сертификат на двери
          +e.item 
            +e.A.link(href="page.html") Сертификат на игрушки
          +e.item 
            +e.A.link(href="page.html") Сертификат на кирпич
          +e.item 
            +e.A.link(href="page.html") Сертификат на клей
          +e.item 
            +e.A.link(href="page.html") Сертификат на ковролин 
          +e.item 
            +e.A.link(href="page.html") Сертификат на алюминий
          +e.item 
            +e.A.link(href="page.html") Сертификат на бетон
          +e.item 
            +e.A.link(href="page.html") Сертификат на битум
          +e.item 
            +e.A.link(href="page.html") Сертификат на брус
          +e.item 
            +e.A.link(href="page.html") Сертификат на гвозди
          +e.item 
            +e.A.link(href="page.html") Сертификат на двери
          +e.item 
            +e.A.link(href="page.html") Сертификат на игрушки
          +e.item 
            +e.A.link(href="page.html") Сертификат на кирпич
          +e.item 
            +e.A.link(href="page.html") Сертификат на клей
          +e.item 
            +e.A.link(href="page.html") Сертификат на ковролин 
      +e.item 
        +e.A.link--declaration(href="javascript:void(0);") Декларирование продукции
        +b.UL.certification-submenu
          +e.item 
            +e.A.link(href="page.html") Сертификат на алюминий
          +e.item 
            +e.A.link(href="page.html") Сертификат на бетон
          +e.item 
            +e.A.link(href="page.html") Сертификат на битум
          +e.item 
            +e.A.link(href="page.html") Сертификат на брус
          +e.item 
            +e.A.link(href="page.html") Сертификат на гвозди
          +e.item 
            +e.A.link(href="page.html") Сертификат на двери
          +e.item 
            +e.A.link(href="page.html") Сертификат на игрушки
          +e.item 
            +e.A.link(href="page.html") Сертификат на кирпич
          +e.item 
            +e.A.link(href="page.html") Сертификат на клей
          +e.item 
            +e.A.link(href="page.html") Сертификат на ковролин 
          +e.item 
            +e.A.link(href="page.html") Сертификат на алюминий
          +e.item 
            +e.A.link(href="page.html") Сертификат на бетон
          +e.item 
            +e.A.link(href="page.html") Сертификат на битум
          +e.item 
            +e.A.link(href="page.html") Сертификат на брус
          +e.item 
            +e.A.link(href="page.html") Сертификат на гвозди
          +e.item 
            +e.A.link(href="page.html") Сертификат на двери
          +e.item 
            +e.A.link(href="page.html") Сертификат на игрушки
          +e.item 
            +e.A.link(href="page.html") Сертификат на кирпич
          +e.item 
            +e.A.link(href="page.html") Сертификат на клей
          +e.item 
            +e.A.link(href="page.html") Сертификат на ковролин 
      +e.item 
        +e.A.link--tu(href="javascript:void(0);") Технические условия (ТУ)
        +b.UL.certification-submenu
          +e.item 
            +e.A.link(href="page.html") Сертификат на алюминий
          +e.item 
            +e.A.link(href="page.html") Сертификат на бетон
          +e.item 
            +e.A.link(href="page.html") Сертификат на битум
      +e.item 
        +e.A.link--fire(href="javascript:void(0);") Подтверждение соответствия пожарной безопасности
        +b.UL.certification-submenu
          +e.item 
            +e.A.link(href="page.html") Сертификат на алюминий
          +e.item 
            +e.A.link(href="page.html") Сертификат на бетон
          +e.item 
            +e.A.link(href="page.html") Сертификат на битум
          +e.item 
            +e.A.link(href="page.html") Сертификат на брус
          +e.item 
            +e.A.link(href="page.html") Сертификат на гвозди

  // Menu code bases
  +b.SECTION.menu--code-bases(itemscope, itemtype="http://schema.org/Service")
    +e.H3.title Базы кодов
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html") База кодов ГОСТ
      +e.item 
        +e.A.link(href="page.html") База кодов ТНВЭД
      +e.item 
        +e.A.link(href="page.html") База кодов ОКП
      +e.item 
        +e.A.link(href="page.html") База кодов ОКВЭД
      +e.item 
        +e.A.link(href="page.html") База кодов ОКУН
      +e.item 
        +e.A.link(href="page.html") База кодов МКТУ
      +e.item 
        +e.A.link(href="page.html") База кодов ОКПД2

  // Menu cancelled
  +b.SECTION.menu--cancelled(itemscope, itemtype="http://schema.org/Service")
    +e.H3.title Отмененные документы
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html") Санитарно-эпидемиологическое заключение (СЭЗ)




