<section class="cities">
  <ul class="cities__list">
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Москва</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Санкт-Петербург</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Екатеринбург</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Новосибирск</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Москва</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Санкт-Петербург</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Екатеринбург</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Новосибирск</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Москва</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Санкт-Петербург</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Екатеринбург</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Новосибирск</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Москва</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Санкт-Петербург</a>
    </li>
    <li class="cities__item">
      <a class="cities__link" href="page-contacts.html">Екатеринбург</a>
    </li>
  </ul>
</section>