<!-- Footer-->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <!-- Logo-->
        <a class="logo logo--footer" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
          <img src="img/logo.png" alt="logo" title="logo" itemprop="logo" />
        </a>
      </div>
      <div class="footer__nav">
        <!-- Nav-->
        <nav class="nav-footer">
          <ul class="nav-footer__list">
            <li class="nav-footer__item">
              <a class="nav-footer__link" href="page.html">О компании</a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link" href="page.html">Наши услуги</a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link" href="page-contacts.html">Контакты</a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link" href="page-reviews.html">Отзывы</a>
            </li>
            <li class="nav-footer__item">
              <a class="nav-footer__link" href="page-news.html">Новости</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__info">
        <!-- Social-->
        <div class="social">
          <a class="social__link social__link--rss" href="#"></a>
          <a class="social__link social__link--vk" href="#"></a>
          <a class="social__link social__link--tw" href="#"></a>
        </div>
        <!-- Counters-->
        <div class="counters">
          <a class="counters__link" href="#">счетчик</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<a class="up" href="#">Наверх</a>