<!-- Header-->
<header class="header">
  <div class="container">
    <div class="header__nav-wrapper">
      <div class="header__nav">
        <!-- Nav-->
        <nav class="nav">
          <div class="nav__hamburger">
            <a class="hamburger" href="#">
              <span></span>
            </a>
          </div>
          <div class="nav__wrapper">
            <ul class="nav__list">
              <li class="nav__item">
                <a class="nav__link" href="page.html">О компании</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="page.html">Наши услуги</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="page-contacts.html">Контакты</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="page-reviews.html">Отзывы</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="page-news.html">Новости</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="header__search">
        <!-- Form search-->
        <section class="form form--search">
          <form action="" method="">
            <div class="form-group field-search required">
              <input class="form__input" type="text" name="Поиск" placeholder="Поиск..." />
            </div>
          </form>
        </section>
      </div>
    </div>
    <div class="header__logo-wrapper">
      <div class="header__logo">
        <!-- Logo-->
        <a class="logo logo--header" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
          <img src="img/logo.png" alt="logo" title="logo" itemprop="logo" />
        </a>
      </div>
      <!-- Cities-->
      <div class="header__city">
        <div class="city" itemscope="itemscope" itemtype="http://schema.org/ContactPoint">
          <div class="city__name-wrapper">
            <a class="city__name" href="#" itemprop="areaServed">Москва</a>
            <ul class="city__dropdown">
              <li class="city__item" data-email0="spb@mostest.ru" data-email1="spbspbspb@mostest.ru" data-tel0="+7 (812) 923-20-03" data-tel1="+7 (812) 332-93-48">Санкт-Петербург</li>
              <li class="city__item" data-email0="16@mostest.ru" data-tel0="+7 (843) 258-55-24" data-tel1="+7 (843) 258-55-24">Казань</li>
              <li class="city__item" data-email0="31@mostest.ru" data-tel0="+7 (919) 285-48-38">Белгород </li>
            </ul>
          </div>
          <div class="city__tel-wrapper">
            <a class="city__tel" href="tel:+74956632218" target="_blank" itemprop="telephone">+7 (495) 663-22-18</a>
            <a class="city__tel" href="tel:+74956491354" target="_blank" itemprop="telephone">+7 (495) 649-13-54</a>
          </div>
          <div class="city__email-wrapper">
            <a class="city__email" href="mailto:otdel@rostest.net" target="_blank" itemprop="email">msk@rosstandart.su</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>