<section class="info-blocks">
  <ul class="info-blocks__list">
    <li class="info-blocks__item">
      <h3 class="info-blocks__title">Сертификация</h3>
      <div class="info-blocks__text">
        <p>
          <strong>Сертификация </strong>представляет собой процедуру подтверждения соответствия качества и безопасности продукции (услуг) установленным для данного вида продукции (услуг) требованиям. Причем данную процедуру вправе осуществлять исключительно независимые
          от производителя и потребителя организации — орган по сертификации, имеющий соответствующую аккредитацию. Само же подтверждение соответствия осуществляется в письменной форме, на основании результатов сертификационных испытаний, проводимых специальными
          испытательными лабораториями. И по ее результатам выдается соответствующий документ — сертификат. Наличие сертификата может значительно стимулировать рост продаж и позитивно отражается на имидже производителя. В наши дни сертификация давно уже
          стала серьезным маркетинговым инструментом, способствующим активному продвижению товаров на рынке. Активно развивается система добровольной сертификации. Существует и обязательная сертификация, которая включает в себя оформление гигиенических
          и пожарных сертификатов, а также сертификатов качества ГОСТ Р. Оформлять сертификат соответствия необходимо обязательно, если она входит в вступивший в силу только в феврале 2010 года «Единый перечень продукции, подлежащей обязательной сертификации»
          (постановление Правительства Российской Федерации № 982 от 1 декабря 2009 г.).</p>
      </div>
    </li>
    <li class="info-blocks__item">
      <h3 class="info-blocks__title">Процедура сертификации</h3>
      <div class="info-blocks__text">
        <p>Важно понимать, что процедура
          <strong>сертификации </strong>продукции начинается еще задолго до обращения в орган по сертификации. Вам необходимо позаботиться о ней еще на этапе производства: продукция должна соответствовать всем необходимым стандартам, на нее необходимо оформить
          Технические условия и инструкцию по эксплуатации, другие документы, которые вам понадобятся в процессе сертификации вашей продукции. Если вы планируете проводить
          <strong>сертификацию </strong>по стандартам ISO 9001, необходимо создать систему менеджмента качества продукции на вашем предприятии. В общем, к сертификации необходимо готовиться заблаговременно. И специалисты Центра сертификации «Сертификация» готовы
          помочь вам в этом нелегком деле: подготовить необходимые документы, проконсультировать по всем вопросам сертификации, в том числе по вопросам создания на вашем предприятии Системы менеджмента качества и Интегрированной системы менеджмента, оказывать
          поддержку на всех этапах процедуры сертификации. Наши эксперты также помогут вам значительно сократить объем различных оценок, испытаний, проверок, осуществляемых в процессе проведения сертификации за счет предоставления в органы про сертификации
          дополнительных документов, доказывающих соответствие продукции необходимым требованиям: добровольных сертификатов, экспертных оценок, актов проверки, технической документации. И выбора наиболее подходящей в вашем конкретном случае схемы сертификации.</p>
      </div>
      <a class="info-blocks__link" href="#">подробнее...</a>
    </li>
    <li class="info-blocks__item">
      <h3 class="info-blocks__title">Сертификаты качества</h3>
      <div class="info-blocks__text">
        <p>Сертификаты качества на импортируемую продукцию или свидетельства об их признании необходимо оформлять для предоставления в таможенные органы вместе с грузовой таможенной декларацией. Они являются основаниями для получения разрешения на ввоз продукции
          на территорию Российской Федерации. Наличие сертификата соответствия на отечественную или зарубежную продукцию в торговой точке может быть проверено сотрудниками торговой инспекции и санитарно-эпидемиологических станции, а так же рядом других
          контролирующих организаций.</p>
      </div>
    </li>
    <li class="info-blocks__item">
      <h3 class="info-blocks__title">Гигиенические сертификаты</h3>
      <div class="info-blocks__text">
        <p>Гигиенический сертификат (его еще называют санитарно-эпидемиологическим заключением) необходим для продажи товаров на территории России, а также для их таможенного оформления. Этот документ удостоверяет соответствие продукции нормам СанПиН. Оформлять
          гигиенические сертификаты необходимо на продукцию, которая входит в список, определенный Приказом Роспотребнадзора от 19 июля 2007 г. N 224
          <em>«О санитарно-эпидемиологических экспертизах, обследованиях, исследованиях, испытаниях и токсикологических, гигиенических и иных видах оценок».</em>
        </p>
      </div>
      <a class="info-blocks__link" href="#">подробнее...</a>
    </li>
  </ul>
</section>