<section class="questions">
  <article class="question" itemscope="itemscope" itemtype="http://schema.org/Question">
    <h2 class="question__subtitle">
      <a href="single-question.html" itemprop="headline">Сертификация игрушек авторской работы </a>
    </h2>
    <div class="question__ask">
      <div class="question__text" itemprop="text">
        <p>Я изготавливаю авторские игрушки из полимерной глины, меха, проволоки, паралона и разукрашиваю акриловыми красками. Необходимы ли мне какие нибудь сертификаты на продажу данных изделий?</p>
      </div>
      <div class="question__person">
        <span class="question__name" itemprop="author">Оксана</span>(Москва и Московская область, 13 июля 2016) </div>
    </div>
    <div class="question__link-wrapper">
      <a class="question__link" href="single-question.html">Читать ответ</a>
    </div>
  </article>
  <article class="question" itemscope="itemscope" itemtype="http://schema.org/Question">
    <h2 class="question__subtitle">
      <a href="single-question.html" itemprop="headline">Сертификация жидкости для электронного испарителя </a>
    </h2>
    <div class="question__ask">
      <div class="question__text" itemprop="text">
        <p>доброго. Инетерсуют сроки и стоимость добровольной сертификации жидкости для электронных сигарет. Продукт есть, помещение и юр лицо (ИП) тоже есть. Спасибо</p>
      </div>
      <div class="question__person">
        <span class="question__name" itemprop="author">Карен</span>(Москва и Московская область, 13 июля 2016) </div>
    </div>
    <div class="question__link-wrapper">
      <a class="question__link" href="single-question.html">Читать ответ</a>
    </div>
  </article>
  <article class="question" itemscope="itemscope" itemtype="http://schema.org/Question">
    <h2 class="question__subtitle">
      <a href="single-question.html" itemprop="headline">Сертификация игрушек авторской работы </a>
    </h2>
    <div class="question__ask">
      <div class="question__text" itemprop="text">
        <p>Я изготавливаю авторские игрушки из полимерной глины, меха, проволоки, паралона и разукрашиваю акриловыми красками. Необходимы ли мне какие нибудь сертификаты на продажу данных изделий?</p>
      </div>
      <div class="question__person">
        <span class="question__name" itemprop="author">Оксана</span>(Москва и Московская область, 13 июля 2016) </div>
    </div>
    <div class="question__link-wrapper">
      <a class="question__link" href="single-question.html">Читать ответ</a>
    </div>
  </article>
  <div class="pagination">
    <span class="pagination__text">Страницы:</span>
    <ul class="pagination__list">
      <li class="pagination__number pagination__number--current">
        <a class="pagination__link" href="page-questions.html">1</a>
      </li>
      <li class="pagination__number">
        <a class="pagination__link" href="page-questions.html">2</a>
      </li>
      <li class="pagination__number">
        <a class="pagination__link" href="page-questions.html">3</a>
      </li>
      <li class="pagination__number">
        <a class="pagination__link" href="page-questions.html">4</a>
      </li>
      <li class="pagination__number">
        <a class="pagination__link" href="page-questions.html">5</a>
      </li>
    </ul>
  </div>
</section>