<section class="recommendations">
  <h3 class="recommendations__title">Рекоммендуем прочесть:</h3>
  <ol class="recommendations__list">
    <li class="recommendations__item">
      <a class="recommendations__link" href="page.html">О сертификации</a>
      <div class="recommendations__text">Сертификация — процедура подтверждения соответствия качества и безопасности продукции (услуг, бизнес-процессов)...</div>
    </li>
    <li class="recommendations__item">
      <a class="recommendations__link" href="page.html">Добровольная сертификация</a>
      <div class="recommendations__text">Добровольная сертификация, в отличие от обязательной, проводится по инициативе самих...</div>
    </li>
    <li class="recommendations__item">
      <a class="recommendations__link" href="page.html">Сертификаты</a>
      <div class="recommendations__text">Четкого и однозначного определения понятия сертификат не существует. В области...</div>
    </li>
    <li class="recommendations__item">
      <a class="recommendations__link" href="page.html">Сертификация. Что это такое?</a>
      <div class="recommendations__text">Сертификация представляет собой процедуру подтверждения соответствия качества и безопасности продукции (услуг)...</div>
    </li>
    <li class="recommendations__item">
      <a class="recommendations__link" href="page.html">Обязательная сертификация</a>
      <div class="recommendations__text">Обязательная сертификация — подтверждение соответствия продукции или услуг обязательным требованиям...</div>
    </li>
  </ol>
</section>