<aside class="sidebar sidebar--right">
  <div class="sidebar__btn">
    <a class="sidebar__call-link" href="page-call.html">Бесплатный звонок с сайта</a>
  </div>
  <!-- Certification menu-->
  <section class="certification-menu">
    <ul class="certification-menu__list">
      <li class="certification-menu__item">
        <a class="certification-menu__link certification-menu__link--about" href="javascript:void(0);">О сертификации</a>
        <ul class="certification-submenu">
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на алюминий</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на бетон</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на битум</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на брус</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на гвозди</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на двери</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на игрушки</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на кирпич</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на клей</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на ковролин </a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на косметику</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на линолеум</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на моющие средства</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на ножи</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на обувь</a>
          </li>
        </ul>
      </li>
      <li class="certification-menu__item">
        <a class="certification-menu__link certification-menu__link--services" href="javascript:void(0);">Сертификация услуг</a>
        <ul class="certification-submenu">
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на алюминий</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на бетон</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на битум</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на брус</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на гвозди</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на двери</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на игрушки</a>
          </li>
        </ul>
      </li>
      <li class="certification-menu__item">
        <a class="certification-menu__link certification-menu__link--production" href="javascript:void(0);">Сертификация продукции</a>
        <ul class="certification-submenu">
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на алюминий</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на бетон</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на битум</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на брус</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на гвозди</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на двери</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на игрушки</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на кирпич</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на клей</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на ковролин </a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на алюминий</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на бетон</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на битум</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на брус</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на гвозди</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на двери</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на игрушки</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на кирпич</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на клей</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на ковролин </a>
          </li>
        </ul>
      </li>
      <li class="certification-menu__item">
        <a class="certification-menu__link certification-menu__link--declaration" href="javascript:void(0);">Декларирование продукции</a>
        <ul class="certification-submenu">
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на алюминий</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на бетон</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на битум</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на брус</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на гвозди</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на двери</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на игрушки</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на кирпич</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на клей</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на ковролин </a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на алюминий</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на бетон</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на битум</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на брус</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на гвозди</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на двери</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на игрушки</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на кирпич</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на клей</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на ковролин </a>
          </li>
        </ul>
      </li>
      <li class="certification-menu__item">
        <a class="certification-menu__link certification-menu__link--tu" href="javascript:void(0);">Технические условия (ТУ)</a>
        <ul class="certification-submenu">
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на алюминий</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на бетон</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на битум</a>
          </li>
        </ul>
      </li>
      <li class="certification-menu__item">
        <a class="certification-menu__link certification-menu__link--fire" href="javascript:void(0);">Подтверждение соответствия пожарной безопасности</a>
        <ul class="certification-submenu">
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на алюминий</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на бетон</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на битум</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на брус</a>
          </li>
          <li class="certification-submenu__item">
            <a class="certification-submenu__link" href="page.html">Сертификат на гвозди</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- Menu code bases-->
  <section class="menu menu--code-bases" itemscope="itemscope" itemtype="http://schema.org/Service">
    <h3 class="menu__title">Базы кодов</h3>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="page.html">База кодов ГОСТ</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">База кодов ТНВЭД</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">База кодов ОКП</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">База кодов ОКВЭД</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">База кодов ОКУН</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">База кодов МКТУ</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">База кодов ОКПД2</a>
      </li>
    </ul>
  </section>
  <!-- Menu cancelled-->
  <section class="menu menu--cancelled" itemscope="itemscope" itemtype="http://schema.org/Service">
    <h3 class="menu__title">Отмененные документы</h3>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="page.html">Санитарно-эпидемиологическое заключение (СЭЗ)</a>
      </li>
    </ul>
  </section>
</aside>